@font-face {
    font-family: Outfit Bold;
    src: url('./fonts/Outfit-Bold.ttf');
}
@font-face {
    font-family: Outfit Regular;
    src: url('./fonts/Outfit-Regular.ttf');
}

/* Global Font Style */
h1{
    font-size: clamp(2.4rem, 2.3296rem + 0.3005vw, 2.6rem);
}
p{
    font-size: clamp(1.8rem, 1.7296rem + 0.3005vw, 2rem);
    color: $grayishblue-color;
}
.txt-center{
    text-align: center;
}
.bold{
    font-family: Outfit Bold;
}
.regular{
    font-family: Outfit Regular;
}