// Colors 
$white-color:hsl(0, 0%, 100%);
$lightgrey-color: hsl(212, 45%, 89%);
$grayishblue-color: hsl(220, 15%, 55%);
$darkblue-color: hsl(218, 44%, 22%);

// Fonts 
$paragraph-fontsize:1.5rem;

// Border 
$border-radius:2.5rem;

// Media Size 
$desktop-width: 1140px;
$mobile-width: 375px;

